name: reviewdog
on: [pull_request]

jobs:
  detekt:
    name: Check Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 1
          ref: ${{ github.head_ref }}

      - name: detekt
        uses: alaegin/Detekt-Action@v1.21.0-RC2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          detekt_config: telnyx_rtc/config/detekt.yml
        
