name: Scheduled Unit Tests

on:
  schedule:
    - cron:  '*/30 5,17 * * *'

jobs:
  # 1 Run unit tests
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0
      - name: set up JDK 1.8
        uses: actions/setup-java@v3.5.0
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Update Username from Secrets
        env:
          MOCK_USERNAME: ${{ secrets.TELNYX_SIP_USER }}
        run: echo MOCK_USERNAME="$MOCK_USERNAME" > ./local.properties

      - name: Add new line
        run: echo -e "\n" >> ./local.properties

      - name: Update Password from Secrets
        env:
          MOCK_PASSWORD: ${{ secrets.TELNYX_SIP_PASSWORD }}
        run: echo MOCK_PASSWORD="$MOCK_PASSWORD" >> ./local.properties

      - name: Clean
        run: ./gradlew clean

      - name: Unit tests
        run: ./gradlew test
